attrs==20.3.0
botocore==1.19.30
click==7.1.2
iniconfig==1.1.1
jmespath==0.10.0
packaging==20.7
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
six==1.15.0
toml==0.10.2
urllib3==1.26.2
